.index {
    font-family: "Montserrat", sans-serif;
    background-image: url("/img/7acBKo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .Menu{
    background-image: url("/img/background_menu.png");
    background-size: cover;
  }
  .bar{
    text-align: right;
    color: rgb(183, 106, 219);
  }
  
  h1{
    text-align: center;
    font-size:larger;
    color:#14471e;
    text-align: center;
  }
  
  button {
    margin: 5% 3% 5% 0;
  }
  
  /* Container */
  .container-fluid {
    padding:  7% 15%;
  }
  
  .container-fluid img {
    width: 40%;
    transform: rotate(25deg);
  }
  
  
  /* Navigation Bar*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #0e2544;
  }

  /*title */
  #title .container-fluid {
    padding:  3% 15% 7%;
    background-color: #000000 ;
    
  }

 
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.text{
  font-family: 'Moon Dance', cursive;
  font-size: 7rem;;
  color:#ffffff;
  margin: 0% 10% 0% 10%;
  text-align: center;
  background-color: #000000;
  border: 10px solid rgb(110, 86, 62);
  }
.text1{
font-family: 'Moon Dance', cursive;
background-color: #e6b4e1;
margin: 0% 10% 0% 10%;
font-size:6rem;
border: 5px solid rgb(209, 102, 102);


}
.boxindex{
margin-top: 200px auto; 
border: 1px solid #888;
width: 100%; 
height:700px;
text-align: center;
background-image: url("/img/food.jpg");
}
.boxout{
  margin: 200px auto; 
  border: 1px solid #888;
  width: 100%; 
  height:700px;
  text-align: center;
  background-image: url("/img/food.jpg");
  }
.formindex{
margin: 200px auto; 
border: 10px solid rgb(153, 132, 94);
width: 420px; 
text-align: center;
background-color: rgb(49, 47, 46);
color:#eeeeee;

}


.h2{
  text-align: center;
}
.showmenuindex{
 
border: 1px solid rgb(243, 32, 32);
width: 100%; 
height:320px;
text-align: center;
background-color: #fcfcfc;
}
.bottomindex{
  margin-top: 200px auto; 
  text-align: center;
  border: 30px solid rgb(241, 159, 230);
  background-color: rgb(248, 248, 248);
}
.bottom {
  margin: 0% 5% 0% 5%; 
  
  font-size: medium;
  display: inline-block;
  
  color: #000;
}
.bottom::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
  text-decoration: none;
  
}
.bottom:hover::after {
  text-decoration: none;
  width: 100%;
}
.bottom:hover {
  color: salmon;
  text-decoration: none;
}
.test{
  text-align:center;
  margin-top: 200px auto;
}
.rowitem{
  color:#ee8fee;
}




.formtable{
 background-image: url("/img/background_menu.png");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
margin: 5px auto; /* 15% from the top and centered */
border: 10px solid rgb(8, 6, 6);
width: 80%; /* Could be more or less, depending on screen size */
text-align: center;
font-size: 2rem;
}
.button{
  text-align: right;
  
}
.button1{
  margin-left :100px;
  background-color:#0b7dda;
  font-style: italic;
  
}
.button2{
  margin-left :100px;
  background-color:#d3e984;
}
.button3{
  margin-left :100px;
  background-color:#ec0a0a;
  font-style: italic;
  font-size: 2rem;
}
.button4{
  margin-left :100px;
  background-color:#1388e7;
  font-style: italic;
  font-size: 2rem;
}
.button5{
  margin-left :100px;
  background-color:#11c029;
  font-style: italic;
  font-size: 2rem;
}


.food-type{
  text-align: right;
}


form .noneDisplay {
  display: none;
}
.info-para {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.space-pane{
  padding: 0% 0% 0% 0%;
}
.item-list {
  padding: 2% 1% 2% 1%;   
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1.5px 2px 0 rgba(0, 0, 0, 0.19);
}
.item-list:hover {  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
  margin: 2% 0% 2% 0%;
  padding: 5% 2% 5% 2%;   
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1.5px 2px 0 rgba(0, 0, 0, 0.19);
}
#div3{
  float:left;
  width: 100%;
  height:400px;
  text-align:left;
  
}
#div4{
  float:right;
  width: 23%;
  height:600px;
  text-align:right;
}
.background{
  text-align:right;
}
.orderlist-head{
  text-align:right;
  font-size: 2rem;
}
.textin{
  background-color:#4c5e4e;
  width:100%;
  height: 600px;
}
.button7{
  margin-left :100px;
  background-color:#11c029;
  font-style: italic;
  font-size: 1rem;
}
.item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-status {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.center{
  text-align: center;
}
.rowitem{
  text-align: center;
}
.menuhead{
  font-family: 'Moon Dance', cursive;
  font-size: 3rem;
  text-align:center;
  color:#e70000;
  
}
.showcase{
  text-align: right;
  font-size: 3rem;
  font-family: 'Moon Dance', cursive;
  color:#69482d;
}

.types {
  margin: 0% 5% 0% 5%; 
  
  font-size: larger;
  display: inline-block;
  font-weight: 700;
  color: rgb(197, 24, 154);
}
.types::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
  text-decoration: none;
}
.types:hover::after {
  text-decoration: none;
  width: 100%;
}
.types:hover {
  color: rgb(167, 98, 152);
  text-decoration: none;
}
.button-pane {
  padding-top: 2%;
  padding-bottom: 2%;
}

.button-add {
  margin-left: 15%;
  width: auto;
  height: 39px;
  padding: 5px 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition-duration: 0.85s;
  background-color: #8a183e;
  border: 2px solid #030303;
}
.button-add:hover {
  background-color: #0b7dda;
}

.quantity {
  display: inline-block; }
 
 .quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  font-size:2rem;
  text-align: center;
  background-color: transparent;
  border: 2px solid #000000;
 }
 
 .quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top; }
 
 .quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
 }
 
 .quantity.buttons_added .minus,
 .quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 2px solid #efefef;
  cursor:pointer;}
 
 .quantity.buttons_added .minus {
  border-right: 0; }
 
 .quantity.buttons_added .plus {
  border-left: 0; }
 
 .quantity.buttons_added .minus:hover,
 .quantity.buttons_added .plus:hover {
  background: #eeeeee; }
 
 .quantity input::-webkit-outer-spin-button,
 .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }
  
  .quantity.buttons_added .minus:focus,
 .quantity.buttons_added .plus:focus {
  outline: none; }
/*ketchen*/
.ketchen{
  background-image: url("/img/background_menu.png");
}
  .centerlist{
    text-align:center;
  }
  .textketchen{
    text-align:center;
  background-color: #818181;
  margin: 10% 10% 0% 10%;
  height: 500px;
  }
  .tablen{
    font-size: 3rem;
    text-align:left;
    background-color: #f1eaea;
    border: 10px solid rgb(199, 148, 193);
    width: 300px;
  }
  .infoma{
    border: 20px solid rgb(228, 219, 227);
    text-align:left;
    background-color: rgb(241, 159, 230);
  margin: 0% 10% 0% 10%;
  height: 300px;
  }
  



button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(211, 189, 189);
  cursor: pointer;
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .button8 {
     width: 100%;
     color: rgb(151, 34, 73);
  }
}
.checkout-head{
  text-align: center;
  font-size: 3rem;
}
.container1{
  text-align: center;
  border: 10px solid rgb(0, 0, 0);
  background-color: #c1d8c4;
  width: 100%;
  height: 600px;

}
